/*
 * =================================================================
 * Catppuccin for Waybar
 * =================================================================
 */

/* --- Global --- */
* {
  /* `-gtk-font-name` is crucial for icons */
  font-family: FontAwesome, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  min-height: 0;
}

/* --- A Janela Principal da Waybar --- */
window#waybar {
  background: transparent; /* Fundo transparente para um visual flutuante */
  color: #cdd6f4; /* Cor do texto padrão (Text) */
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* --- Dica de Ferramenta (Tooltip) --- */
tooltip {
  background: #1e1e2e; /* Surface */
  border-radius: 10px;
  border: 2px solid #f5c2e7; /* Pink */
}

/* --- Estilo Geral dos Módulos --- */
#workspaces,
#clock,
#pulseaudio,
#backlight,
#keyboard-state,
#custom-wifi,
#custom-power,
#custom-kde-desktop,
#custom-debian-logo {
  background-color: #1e1e2e; /* Surface */
  padding: 4px 14px;
  margin: 4px 5px;
  border-radius: 10px;
  border: 1px solid #313244; /* Overlay */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* --- Efeito Hover --- */
#workspaces button:hover,
#pulseaudio:hover,
#backlight:hover,
#keyboard-state:hover,
#custom-wifi:hover,
#clock:hover #custom-debian-logo {
  background-color: #313244; /* Highlight */
  border: 1px solid #f5c2e7; /* Pink */
}

/*
 * =================================================================
 * Cores dos Ícones (Paleta Catppuccin)
 * =================================================================
 */

/* --- KDE Workspaces --- */
#custom-kde-desktop {
  background-color: #1e1e2e; /* Surface */
  padding: 2px 12px;
  margin: 4px 5px;
  border-radius: 10px;
  border: 1px solid #313244; /* Overlay */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #cdd6f4; /* Cor padrão dos números */
}

/* Desktop ativo */
#custom-kde-desktop span {
  color: #89b4fa; /* Blue */
  font-weight: bold;
}
#pulseaudio {
  color: #b5e8e0; /* Teal */
}

#backlight {
  color: #f9e2af; /* Yellow */
}

#keyboard-state {
  color: #f5c2e7; /* Pink */
}

#custom-wifi {
  color: #f2cdcd; /* Mauve */
}

#clock {
  color: #cdd6f4; /* Text */
}

#custom-power {
  color: #f38ba8; /* Red */
  margin-right: 10px;
  border-radius: 10px;
}

/* --- Estados Específicos --- */
#pulseaudio.muted {
  color: #585b70; /* Muted */
}

#keyboard-state.locked {
  color: #f38ba8; /* Red */
}

#custom-debian-logo {
  color: #f38ba8;
}
