@define-color base #1e1e2e;
@define-color surface #1a1826;
@define-color overlay #26233a;
@define-color muted #6c7086;
@define-color subtle #908caa;
@define-color text #cdd6f4;
@define-color love #f38ba8;
@define-color gold #f9e2af;
@define-color rose #f5c2e7;
@define-color pine #89b4fa;
@define-color foam #94e2d5;
@define-color iris #cba6f7;
@define-color highlightLow #1f1d2e;
@define-color highlightMed #454158;
@define-color highlightHigh #585b70;

* {
  font-family: "BlexMono Nerd Font", FontAwesome, sans-serif;
  background-image: none;
  transition: 20ms;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 46, 0.9);
  font-size: 0px;
  color: @text;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  background-color: @surface;
  border-radius: 15px;
  border: 2px solid @highlightLow;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

button:focus,
button:hover {
  background-color: @highlightMed;
  border-color: @iris;
  background-size: 35%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button span {
  font-size: 1.2em;
  margin: 5px;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
